openapi: 3.0.3
info:
  title: Go Chi Swagger Testing
  description: |-
    Sample OpenApi yml config file presenting one way of testing application against definitions in that file.
  contact:
    email: grzegorz.lasak@grzegorzlasak.com
  version: 0.0.1
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
servers:
  - url: https://to-be-defined.whoknows
    description: Your server - to be defined.
paths:
  /api/ping:
    get:
      description: Our GET Ping endpoint
      tags:
        - PING
      operationId: getPing
      responses:
        '200':
          description: Our GET Ping response
          content:
            application/json:
              schema:
                type: object
                properties:
                  ping:
                    type: string
                    example: pong
                    nullable: false
  /api/not-found:
    get:
      description: Our 404 Not Found response endpoint
      tags:
        - PING
      operationId: notFoundPing
      responses:
        '404':
          description: Our GET Not Found Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_code:
                    type: string
                    example: err_not_found
                    nullable: false
                  error_msg:
                    type: string
                    example: Entity not found.
                    nullable: false
  /api/internal-server-error:
    post:
      description: Our 500 Internal Server Error response endpoint
      tags:
        - PING
      operationId: internalServerErrorPing
      responses:
        '500':
          description: Our POST Internal Server Error Response